$bg-blue:  hsl(193, 100%, 96%);
$bg-blue-dark: hsl(192, 100%, 9%);
$bg-pink: hsl(322, 100%, 66%);
$bg-white: hsl(208, 11%, 100%);
$color-blue-dark: hsl(192, 100%, 9%);
$color-gray: hsl(208, 11%, 55%);
$color-white: hsl(208, 11%, 100%);
$font-family-open: 'Open Sans', sans-serif;
$font-family-poppins: 'Poppins', sans-serif;
$font-w-400: 400;
$font-w-600: 600;
$font-w-700: 700;
$break-point-tablet: 800px;
